div {
  margin: 20px auto;
  width: 400px;
  background: #d8d8d8;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
span {
  background: blue;
  flex: 1;
  flex-basis: 30%;
}

div span:last-child {
}

/* div {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1em;
}

span {
  background-color: blue;
}

div span:nth-child(2n) {
} */

/* 
div {
  position: relative;
  margin: 20px auto;
  width: 400px;
  background: #d8d8d8;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
div span:nth-child(1):last-child {
  grid-column-end: span 3;
}
div span:nth-child(1):nth-last-child(2) {
  grid-column-end: span 1;
  position: relative;
  bottom: 0;
  width: calc(150% + 5px);
  left: 0;
}
div span:nth-child(2):nth-last-child(1) {
  grid-column-start: 2;
  position: relative;
  bottom: 0;
  width: calc(150% + 5px);
  left: calc(50% + 5px);
}
div span:nth-child(3):last-child {
  grid-column-end: span 1;
}
div span:nth-child(4):last-child {
  grid-column-end: span 3;
}
div span:nth-child(4):nth-last-child(2) {
  grid-column-end: span 1;
  position: relative;
  bottom: 0;
  width: calc(150% + 5px);
  left: 0;
}
div span:nth-child(5):nth-last-child(1) {
  grid-column-start: 2;
  position: relative;
  bottom: 0;
  width: calc(150% + 5px);
  left: calc(50% + 5px);
}
div span:nth-child(6):last-child {
  grid-column-end: span 1;
}
div span:nth-child(7):last-child {
  grid-column-end: span 3;
}
div span:nth-child(7):nth-last-child(2) {
  grid-column-end: span 1;
  position: relative;
  bottom: 0;
  width: calc(150% + 5px);
  left: 0;
}
div span:nth-child(8):nth-last-child(1) {
  grid-column-start: 2;
  position: relative;
  bottom: 0;
  width: calc(150% + 5px);
  left: calc(50% + 5px);
}
div span:nth-child(9):last-child {
  grid-column-end: span 1;
}
div span:nth-child(10):last-child {
  grid-column-end: span 3;
}
span {
  height: 50px;
  background: blue;
  color: yellow;
} */
